{% extends 'base.html.twig' %}


{% block body_id 'nos_origines_show' %}
{% block Carousel %}
{% endblock %}

{% block main %}
<p>
 <h4>Infos de {{personne.Nom}} {{personne.Prenom}} </h4>
</p>
    <ul class="nav nav-tabs  " id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Coordonnées</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Position_Eglise-tab" data-toggle="tab" href="#Position_Eglise" role="tab" aria-controls="Position_Eglise" aria-selected="false">Baptême</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Integration-tab" data-toggle="tab" href="#Integration" role="tab" aria-controls="Integration" aria-selected="false">intégration</a>
       
        <li class="nav-item">
            <a class="nav-link" id="Evenement-tab" data-toggle="tab" href="#Evenement" role="tab" aria-controls="Evenement" aria-selected="false">Evénements</a>
        </li>
    </ul>



<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
       {# <p ><h3> INFORMATIONS PERSONNELLES</h3></p>#}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
      <p></p>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Photo de {{ personne.nom }} {{ personne.prenom }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           {% if personne.imageName%}
     <img src="{{vich_uploader_asset(personne,'imageFile') }}" alt="card img" style="width:100%; height:auto;">
	 {% else %}
	 <img src="{{ asset('/images/properties/Photo_not_Found.jpg')}}" alt="card img" style="width:100%; height:auto;">
	 {% endif %}
      </div>
      
    </div>
  </div>
</div>




    <table class="table table-striped table-middle-aligned table-sm">
       
        <tbody>        
            <tr>			 
                <td>{{ form_label(form.nom) }}</td>
                <td>{{ form_widget(form.nom)}}</td>
                 <td>{{ form_label(form.prenom) }}</td>
                <td>{{ form_widget(form.prenom) }}</td>
                 <td rowspan="3" style="width: 10%">

<a class="bg-circle bg-primary"  data-toggle="modal" href="#exampleModal">
    {% if personne.imageName%}
     <img src="{{vich_uploader_asset(personne,'imageFile') }}" alt="card img" style="width:100%; height:auto;">
	 {% else %}
	 <img src="{{ asset('/images/properties/Photo_not_Found.jpg')}}" alt="card img" style="width:100%; height:auto;">
	 {% endif %}
</a>
                 </td>               
	        </tr>
			
             <tr>			 
                <td>{{ form_label(form.sexe) }}</td>
                <td>{{ form_widget(form.sexe) }}</td>
				 <td>{{ form_label(form.civilite) }}</td>
                <td>{{ form_widget(form.civilite) }}</td>
	        </tr>
			
             <tr>			 
                <td>{{ form_label(form.dateNaissance)}}</td>
                <td>{{ form_widget(form.dateNaissance) }}</td>
				 <td>{{ form_label(form.lieuNaissance) }}</td>
                <td>{{ form_widget(form.lieuNaissance) }}</td>
	        </tr>
			

                         <tr>			 
                <td>{{ form_label(form.nationalite) }}</td>
                <td>{{ form_widget(form.nationalite) }}</td>
				 <td>{{ form_label(form.profession) }}</td>
                <td>{{ form_widget(form.profession) }}</td>
	        </tr>


             <tr>			 
                <td>{{ form_label(form.statutMat) }}</td>
                <td>{{ form_widget(form.statutMat) }}</td>
				 <td>{{ form_label(form.adresse) }}</td>
                <td>{{ form_widget(form.adresse) }}</td>
	        </tr>

            <tr>			 
                <td>{{ form_label(form.codePostal) }}</td>
                <td>{{ form_widget(form.codePostal) }}</td>
				 <td>{{ form_label(form.ville) }}</td>
                <td>{{ form_widget(form.ville) }}</td>
	        </tr>


               <tr>			 
                <td>{{ form_label(form.phoneHome) }}</td>
                <td>{{ form_widget(form.phoneHome) }}</td>
				 <td>{{ form_label(form.phonePersonnel) }}</td>
                <td>{{ form_widget(form.phonePersonnel) }}</td>
	          </tr>


               <tr>			 
                <td>{{ form_label(form.phoneTravail) }}</td>
                <td>{{ form_widget(form.phoneTravail) }}</td>
				 <td>{{ form_label(form.email) }}</td>
                <td>{{ form_widget(form.email) }}</td>
	          </tr>

                <tr>			 
                <td>{{ form_label(form.infosAdd) }}</td>
                <td colspan="3">{{ form_widget(form.infosAdd) }}</td>
				
	          </tr>


            {% set xx=form_label(form.imageFile)%}
           {% set yy=form_widget(form.imageFile)%}


        </tbody>
    </table>

  </div>
  

  <div class="tab-pane fade" id="Position_Eglise" role="tabpanel" aria-labelledby="Position_Eglise-tab">

      <table class="table table-striped table-middle-aligned">
          <thead>
          <tr>
              <th scope="col">date Baptême (J/M/A)</th>
              <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> Lieu de baptême</th>
              <th scope="col">Baptisé par</th>
              <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for bapteme in baptemes %}
              <tr>
                  <td>{{ bapteme.dateBapteme |date('d-m-Y')}}</td>
                  <td>{{bapteme.lieu}}</td>
                  <td>{{ bapteme.baptiserPar}}</td>


                  <td class="text-right">
                      <div class="item-actions">
                          <a href="{{ path('admin_bapteme_show', {id: bapteme.id}) }}" class="btn btn-sm btn-success">
                              <i class="fa fa-eye" aria-hidden="true"></i> Show
                          </a>

                          {#
                          <a href="{{ path('admin_bapteme_edit', {id: bapteme.id}) }}" class="btn btn-sm btn-primary">
                              <i class="fa fa-edit" aria-hidden="true"></i> edit
                          </a>
                          #}
                      </div>
                  </td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="4" align="center">Aucun bapteme found</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>

  </div>


    <div class="tab-pane fade" id="Integration" role="tabpanel" aria-labelledby="Integration-tab">
        
        <table class="table table-striped table-middle-aligned">
            <thead>
            <tr>
                <th scope="col">date d'entrée (j/m/a)</th>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> Infos</th>
                <th scope="col">Date sortie (j/m/a)</th>
                <th scope="col">Motif</th>
                <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for integration in integrations %}
                <tr>

                    <td>{{ integration.dateIn |date('d-m-Y')}}</td>
                    <td>{{integration.infosIn}}</td>
                    <td>{{ integration.dateOut |date('d-m-Y')}}</td>
                    <td>{{ integration.infosOut}}</td>

                    <td class="text-right">
                        <div class="item-actions">
                            <a href="{{ path('admin_integration_show', {id: integration.id}) }}" class="btn btn-sm btn-success">
                                <i class="fa fa-eye" aria-hidden="true"></i> Show
                            </a>
{#
                            <a href="{{ path('admin_integration_edit', {id: integration.id}) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i> edit
                            </a>
#}
                        </div>
                    </td>

                </tr>


            {% else %}
                <tr>
                    <td colspan="4" align="center">Aucune integration found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="tab-pane fade" id="Evenement" role="tabpanel" aria-labelledby="Evenement-tab">

        <table class="table table-striped table-middle-aligned">
            <thead>
            <tr>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> Date(j/m/a)</th>
                <th scope="col">Type d'événement</th>

                <th scope="col">Lieu</th>
                <th scope="col">Infos add</th>
                <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for evenement in evenements %}
                <tr>
                    <td>{{ evenement.eventDate |date('d-m-Y')}}</td>
                    <td>{{evenement.eventType}}</td>
                    <td>{{ evenement.eventLieu}}</td>
                    <td>{{ evenement.eventInfos}}</td>

                    <td class="text-right">
                        <div class="item-actions">
                            <a href="{{ path('admin_evenement_show', {id: evenement.id}) }}" class="btn btn-sm btn-success">
                                <i class="fa fa-eye" aria-hidden="true"></i> Show
                            </a>
{#
                            <a href="{{ path('admin_evenement_edit', {id: evenement.id}) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i> edit
                            </a>
#}
                        </div>
                    </td>

                </tr>


            {% else %}
                <tr>
                    <td colspan="4" align="center">Aucun evenement found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        
    </div>


</div>

{#
       <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> Save changes
        </button>
#}
		{{ form_end(form) }}

{#
	 <div class="section actions">
        {{ include('admin/membre/_delete_form.html.twig', {personne: personne}, with_context = false) }}
    </div>
#}


    </p>








{% endblock %}

{% block sidebar %}

<p>




   <div class="section actions">
    
         <a href="{{ path('admin_membre_perso_data_download', {id: personne.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i>  Exporter data vers pdf
        </a>



        <a href="{{ path('admin_membre_perso_data_Excel', {id: personne.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> Export data vers Excel
        </a>

       
   </div>
</p>
{{parent()}}
 {% endblock %}