{% extends 'base.html.twig' %}


{% block body_id 'nos_origines_show' %}
{% block Carousel %}
{% endblock %}

{% block main %}
    <p></p>
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>{{ 'Sommaire'|trans }}</strong>: {{ post.summary }}</p>
    </div>

    {{ post.content|markdown_to_html }}



{% endblock %}

{% block sidebar %}
    <p></p>
    <div class="section">
        <a href="{{ path('admin_post_edit', {id: post.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'edit content'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/blog/_delete_form.html.twig', {post: post}, with_context = false) }}
    </div>

    {{ parent() }}

{% endblock %}